.m-feature-box-dropdown {
  padding: 40px 0;
  letter-spacing: 0.5px;
}
.m-feature-box-dropdown .content-wrapper {
  max-width: 1340px;
  margin: 0 auto;
  width: 90%;
}
.m-feature-box-dropdown .header {
  border-left: 4px solid #2772C7;
	margin-right: 10px;
}
.m-feature-box-dropdown .heading {
  color: black;
  text-align: left;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  margin-left: 10px;
}
.m-feature-box-dropdown .content {
  margin-top: 30px;
}

.m-feature-box-dropdown .content .list {
  width: 100%;
  display: grid;
  align-items: flex-start;
  gap: 20px;
}
.m-feature-box-dropdown .content .item-wrapper {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid #EAF0F8;
  background:#F7FBFF;
}
.m-feature-box-dropdown .content .item-wrapper .right-content {
  max-height: 500px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  line-height: 24px;
  font-size: 14px;
  color: #555;
}
.m-feature-box-dropdown .content .item-wrapper .right-content h4{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 150%; */
  letter-spacing: 0.48px;

}
.m-feature-box-dropdown .content .item-wrapper .right-content p{
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
  padding-top: 8px;
}
.m-feature-box-dropdown .content .item-wrapper .right-content .readmore-wrapper a {
  color: #2772c7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.m-feature-box-dropdown .note-wrapper .load-more .show-less,
.m-feature-box-dropdown .note-wrapper .load-more .show-more {
  display: inline-block;
  background-color: #fff;
  font-size: 13px;
  color: #0F7AED;
}
.m-feature-box-dropdown .note-wrapper {
  text-align: center;
  margin-top: 20px;
}
.m-feature-box-dropdown .note-wrapper .load-more .show-less {
  display: none;
}
.m-feature-box-dropdown .note-wrapper .load-more .icon-arrow-down {
  width: 12px;
  height: 8px;
  margin-left: 5px;
  margin-top: 7px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 13.2 14.7 8.4' fill='%230C77B9'%3E%3Cpath d='M4.7 14.6l-7 7H-3l-7-7 1.3-1.4 6 6 6-6 1.4 1.4z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 12px 8px;
}
.m-feature-box-dropdown .note-wrapper .load-more.show .show-more {
  display: none;
}
.m-feature-box-dropdown .note-wrapper .load-more.show .show-less {
  display: inline-block;
}
.m-feature-box-dropdown .note-wrapper .load-more.show .icon-arrow-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-feature-box-dropdown .collapsed {
  height: 0;
  overflow: hidden;
}
.m-feature-box-dropdown .collapsed.show {
  height: auto;
}
.m-feature-box-dropdown .question {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  position: relative;
}
.m-feature-box-dropdown .question .question-text {
  font-size: 16px;
  line-height: 23px;
  padding-right: 25px;
  padding-bottom: 5px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.48px;
}

@media (min-width: 768px) {
  .m-feature-box-dropdown .content .list {
    grid-template-columns: repeat(2,1fr);
  }
  .m-feature-box-dropdown .content .item-wrapper {
    min-height: 226px;
  }
}
